:root{
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);

    --facebook: hsl(212, 100%, 50%);
    --twitter: hsl(203, 89%, 53%);
    /* --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%); */
    --instagram1: hsl(37, 97%, 70%);
    --instagram2:hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    
    --cardGray : #f0f3fa;
    
    
    --cardBackground: #f0f3fa;  
    --lightGray: #f8f9fe;  
    --baseBackground: white;
    --baseColor: #1d2029;
    --title-card: #6f717e;
    --gray: #5f616d;
    --switchSpinner: white;
    --switch: #5f616d;

}
body{
   margin: 0;
   font-family: 'Inter', sans-serif;
   color: var(--baseColor);
   background: var(--baseBackground);
}
.wrapper{
    padding:0 30px;
}
.grid{
    display: grid;
    grid-row-gap: 25px;
}
.dark-mode{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

}
.checkbox{
    display: none;
}
.checkbox:checked ~ .switch:before{
    transform: translateX(0px);
}
.switch{   
    height: 40px;
    display: block;
    border-radius: 20px;
    background: var(--switch);
    width: 80px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.switch::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: var(--switchSpinner);   
    border-radius: 50%;
    transform: translateX(40px);
    transition: .3s;
    will-change: transform;
}
 /* ------ ------- Header ------- ------ */ 
.header{       
    background: var(--lightGray);
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 2em;
}
.header h1{
    margin: 0;
    font-size: 1.7em;
}
.header-total{
    color: var(--gray);
    font-weight: 600;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1.5em;
}
 /* ------ ------- Top cards ------- ------ */ 
.top-cards{   
    margin-top: -50px;  
    margin-bottom: 3em;  
}
 /* ------ ------- Card ------- ------ */ 
.card{
    border-radius: 8px;
    overflow: hidden;
    background: var(--cardBackground);
    text-align: center;
    padding: 1.7em 0;
    position: relative;
}
.card::before{
    content: '';
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.card.facebook::before{
    background: var(--facebook);
}
.card.twitter::before{
    background: var(--twitter);
}
.card.instagram::before{
    background-image: linear-gradient(to right, var(--instagram1) 0%,var(--instagram2) 100%);
}
.card.youtube::before{
    background: var(--youtube);
}
.card-title{    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-card);
    font-size: .9em;
    font-weight: bold;
}
a.card-text, a:active.card-text,a:visited.card-text,a:link.card-text{
    color: var(--title-card);    
    text-decoration: none;
}
.card-title img{
    margin-right: 5px;
}
.card-follower{
    /* border: 1px solid red; */
}
.card-follower-numbers{    
    font-size: 50px;
    font-weight: bold;
}
.card-follower-title{    
    text-transform: uppercase;
    display: block;
    color: var(--gray);
    letter-spacing: 5px;
    font-size: .75em;
    
}
.card-today{
    color: var(--lime-green);
    font-size: .7em;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-today img{
    margin-right: 5px;
}

 /* ------ ------- Overview ------- ------ */ 
.overview{ 
    padding-bottom: 2em;
}
.card-small{    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    background: var(--cardBackground);
    border-radius: 8px;
    padding: 1.7em;    
}
.card-small p{
    margin: 0;
}
.card-small-views{    
    color: var(--gray);
    font-size: .9em;
    font-weight: bold;
}
.card-small-icon{    
    text-align: right;
}
.card-small-numbers{    
    font-weight: bold;
    font-size: 2.5em;
    line-height: .9;
}
.card-small-percentage{    
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: .9em;
    color: var(--lime-green);
}
.card-small-percentage.is-danger{
    color: var(--bright-red);
}
.card-small-percentage span{   
    display: flex;
    align-items: center;
}
.card-small-percentage img{
    margin-right: 5px;
}
h2{
  color: var(--gray);  
}
.is-dark-mode{
    --cardBackground: #252b43;    
    --lightGray: #1d2029;
    --baseBackground: #1d2029;
    --baseColor: white;
    --title-card: #8088ad;
    --gray: #8088ad;        
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #36ce8f 100%);
}
.is-light-mode{
    --cardBackground: #f0f3fa;  
    --lightGray: #f8f9fe;  
    --baseBackground: white;
    --baseColor: #1d2029;
    --title-card: #6f717e;
    --gray: #5f616d;
    --switchSpinner: white;
    --switch: #5f616d;
}

 /* ------ ------- Mediaquerys ------- ------ */ 
 @media screen and (min-width: 480px){     
    .grid{         
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper{
        max-width: 1440px;
        margin: auto;
    }
}
@media screen and (min-width: 768px){     
    .grid{         
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
}
@media screen and (min-width: 1024px){     
    .grid{         
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
    .header-total{
        border: none;
    }    
    .header-grid{
        display: grid;  
        grid-template-columns: 1fr 200px;
    }    
}
@media (prefers-color-scheme:dark){    
    :root{
        --cardBackground: #252b43;    
        --lightGray: #1d2029;
        --baseBackground: #1d2029;
        --baseColor: white;
        --title-card: #8088ad;
        --gray: #8088ad;        
        --switchSpinner: #282943;
        --switch: linear-gradient(to right, #4796d2 0%, #36ce8f 100%);
    }        
   
}